## Introduction to python for machine learning

In [1]:
# Importing libaries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
pd.set_option('display.max_rows', 5000)
pd.set_option('display.max_columns', 5000)
pd.set_option('display.width', 1000)

In [2]:
# Read data
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'latin-1')
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [5]:
df.duplicated().sum()

0

In [6]:
df.nunique()

Area Code         49
Area              49
Item Code        122
Item             119
Element Code      18
Element           18
Unit               5
Y2014           4493
Y2015           4520
Y2016           4520
Y2017           4537
Y2018           4591
dtype: int64

### What is the total Protein supply quantity in Madagascar in 2015?

In [15]:
protein_mad = df[(df.Element == 'Protein supply quantity (g/capita/day)') & \
                    (df.Area == 'Madagascar')]
protein_mad.groupby('Area').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area,,,,,,,,
Madagascar,14319,299405,74814,177.79,173.05,173.4,175.75,176.64

### Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [50]:
df.groupby('Element').sum().loc['Stock Variation',
                                ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sort_values(ascending = False)

Y2014    58749.83
Y2017    54316.91
Y2015    34910.99
Y2016    33140.12
Y2018    20577.91
Name: Stock Variation, dtype: float64

### Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [52]:
df.groupby('Area')['Y2017'].sum().sort_values().head(7)

Area
Sudan (former)               0.00
Ethiopia PDR                 0.00
Comoros                     59.84
Seychelles                 442.34
Sao Tome and Principe    12662.63
Cabo Verde               14650.74
Guinea-Bissau            19102.77
Name: Y2017, dtype: float64

### Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

In [53]:
df.groupby('Area')['Y2017'].sum().sort_values(ascending = False).head(1)

Area
Nigeria    1483268.23
Name: Y2017, dtype: float64

### What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [35]:
print('Mean:{}'.format(round(df['Y2017'].mean(),2)))
print('STD:{}'.format(round(df['Y2017'].std(),2)))

Mean:140.92
STD:1671.86

### What is the total sum of Wine produced in 2015 and 2018 respectively?

In [54]:
df.groupby('Item')[['Y2015','Y2018']].sum().loc['Wine']

Y2015    4251.81
Y2018    4039.32
Name: Wine, dtype: float64

### What is the total number of unique countries in the dataset?

In [56]:
df.nunique().loc['Area']

49

### What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [75]:
print('Number of 2014 missing data : {}'.format(sum(df['Y2014'].isnull())))
print('Percentage of missing 2014 data: {}'.format(round(sum(df['Y2014'].isnull())/df.shape[0] * 100, 3)))

Number of 2014 missing data : 1589
Percentage of missing 2014 data: 2.607

### Which year had the least correlation with ‘Element Code’?

In [79]:
df.corrwith(df['Element Code']).sort_values()

Item Code      -0.024683
Area Code      -0.000209
Y2016           0.023444
Y2015           0.023889
Y2017           0.024254
Y2018           0.024279
Y2014           0.024457
Element Code    1.000000
dtype: float64

### Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [77]:
df.groupby('Element')['Y2017'].sum().loc['Processing']

292836.0